<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <title>Gym Control</title>
    {% endblock %}

    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header>
      <div class="links">
        <a href="/">Professores</a>
        <a href="/students">Estudantes</a>
      </div>
    </header>

    {% block content%}
    {% endblock %}
    
  </body>
</html>