@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  --color-default: #2962ca;
  --color-yellow: #fffb00;
}

/*===Comum a todos as páginas===*/
* {
  /*Preenchimentos, margens e bordas zeradas para tudo*/
  padding: 0;
  margin: 0;
  border: none;
}

body {
  /*Cor de fundo do site*/
  background-color: var(--color-default);
  /*Familia de fontes Roboto para o site todo*/
  font-family: 'Roboto', sans-serif;
}

header {
  /*Cor de fundo do cabeçalho*/
  background-color: white;
  /*Largura total do cabeçalho*/
  width: 100%;
  /*Preenchimento em todos os lados*/
  padding: 25px;
  /*Respeitando o limite de 100% da largura*/
  box-sizing: border-box;
  /*alinhamento do texto*/
  text-align: center;
}

.links {
  /*tamanho da fonte*/
  font-size: 22px;
}

/*Somente o a seguido de outro que receberá as propriedades*/
.links a + a{
  /*Margem a esquerda*/
  margin-left: 32px;
}

.links a {
  /*Retira sublinhado*/
  text-decoration: none;
  /*Cor*/
  color: #777;
  /*Posição relativa para configurar a absoluta nos filhos*/
  position: relative;
}

.links a.active {
  /*Negrito*/
  font-weight: bold;
  /*Cor*/
  color: var(--color-default);
}

.links a:hover {
  /*Cor*/
  color: var(--color-default);
}

/*Pseudo elemento depois de a*/
.links a::after {
  /*Obrigatório para pseudo elementos*/
  content: "";
  /*largura em 0 para a animação*/
  width: 0;
  /*Altura*/
  height: 3px;
  /*Cor*/
  background-color: var(--color-default);
  /*Posição absoluta em relação ao pai A*/
  position: absolute;
  /*colado na esquerda*/
  left: 0;
  /*abaixo do fundo*/
  bottom: -3px;
}

.links a:hover::after {
  /*Largura máxima para a animação*/
  width: 100%;
  /*Transição será em largura com duração de 300ms*/
  transition: width 300ms ease-in-out;
}

/*===Página - Instructor===*/
.card {
  /*Cor de fundo*/
  background-color: white;
  /*Largura*/
  width: 800px;
  /*Altura*/
  min-height: 400px;
  /*Margem 45 no topo e fundo e auto nas lateriais para centralizar*/
  margin: 45px auto;
  /*Display de grade*/
  display: grid;
  /*primeiro elemento com 40% e seundo com 60%*/
  grid-template-columns: 0.8fr 1.2fr;
  /*sombra - eixo X, eixo Y, blur, espalhamento, cor com alfa*/
  box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, 0.5);
  /*Cantos arredondados*/
  border-radius: 10px;
  /*nome da Animação*/
  animation-name: op;
  /*Duração da animação*/
  animation-duration: 900ms;
  /*Termina suave*/
  animation-timing-function: ease-out;
}

/*Animação*/
@keyframes op {
  /*from = 0%*/
  from {
    opacity: 0;
  }
  /*to = 100%*/
  to {
    opacity: 1;
  }
}

.avatar {
  /*Imagem de fundo randomica do unsplash da coleção 6800490, não se repete, centraliza o eixo x e y, cover preenche a elemento todo*/
  background: url('https://source.unsplash.com/collection/517198/500x500') no-repeat center center / cover;
  /*Cantos superior esquerdo e inferior esquerdo arredondados*/
  border-radius: 10px 0 0 10px;
}

.details {
  /*Preenchimento em todos os lados*/
  padding: 32px;
}

.details h3 {
  /*Cor do texto*/
  color: var(--color-default);
  /*Tamanho da fonte*/
  font-size: 20px;
  /*Transforma todas as letras em mausculas*/
  text-transform: uppercase;
  /*Espaçamento entre as letras*/
  letter-spacing: 1px;
  /*Peso da fonte - negrito*/
  font-weight: bold;
}

.details .item {
  /*Borda no fundo com 1px solida em preto com alfa*/
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  /*preenchimento de 16 no topo e fundo e 0 nas laterais*/
  padding: 16px 0;
}

/*Se aplica ao ultimo elemento de .item*/
.details .item:last-child {
  /*ser nenhuma borda*/
  border: none;
}

/*Se aplica a primeira div do .item*/
.details .item div:nth-child(1) {
  /*Cor do texto*/
  color: rgb(139, 138, 138);
  /*Altura da linha*/
  line-height: 24px;
  /*Espaçamento entre as letras*/
  letter-spacing: 0.7px;
}

/*Se aplica a segunda div do .item*/
.details .item div:nth-child(2) {
  /*Cor do texto*/
  color: rgb(65, 65, 65);
  /*Peso da fonte - negrito*/
  font-weight: bold;
  /*Tamanho da fonte*/
  font-size: 18px;
}

.details .item span {
  /*preenchimento de 8 no topo e fundo e 16 nas laterais*/
  padding: 8px 16px;
  /*cor do fundo*/
  background-color: var(--color-yellow);
  /*cor do texto*/
  color: #777;
  /*arredondamento dos cantos*/
  border-radius: 30px;
  /*Margem esquerda*/
  margin-right: 4px;
  /*margem topo*/
  margin-top: 8px;
  /*Estratégia para respeitar o margin-top*/
  display: inline-block;
  /*Peso da fonte - negrito*/
  font-weight: bold;
  /*Transforma todas as letras em mausculas*/
  text-transform: uppercase;
  /*Tamanho da fonte*/
  font-size: 13px;
}

/*grau de escolaridade e tipo de aula*/
.details .items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*Borda no fundo com 1px solida em preto com alfa*/
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  /*preenchimento de 16 no topo e fundo e 0 nas laterais*/
  padding: 16px 0;
}

.details .items div div:nth-child(1) {
  /*Cor do texto*/
  color: rgb(139, 138, 138);
  /*Altura da linha*/
  line-height: 24px;
  /*Espaçamento entre as letras*/
  letter-spacing: 0.7px;
}

.details .items div div:nth-child(2) {
  /*Cor do texto*/
  color: rgb(65, 65, 65);
  /*Peso da fonte - negrito*/
  font-weight: bold;
  /*Tamanho da fonte*/
  font-size: 18px;
}

/*===Página - Create teachers===*/
input {
  /*Largura total*/
  width: 100%;
  /*sem borda ao estr com foco*/
  outline: none;
  /*Cor do texto*/
  color: rgb(65, 65, 65);
  /*Peso da fonte - negrito*/
  font-weight: bold;
  /*Tamanho da fonte*/
  font-size: 18px;
}

input[type='date'] {
  width: 80%;
}

input[type='radio'] {
  /*Largura inicial*/
  width: initial;
  /*Margin de 4 na direita para separar radio do texto e 1 no fundo para centralizar*/
  margin: 0 4px 1px 0;
  /*Alinhamento vertical no meio*/
  vertical-align: middle;
}

input::placeholder {
  /*Tamanho da fonte*/
  font-size: 16px;
  /*Peso da fonte - normal*/
  font-weight: normal;
}

button[type="submit"] {
  /*preenchimento do botão 8 no topo e fundo e 0 nas laterais*/
  padding: 8px 0;
  /*Cor de fundo*/
  background-color: var(--color-default);
  /*Cor do texto*/
  color: white;
  /*Peso da fonte - negrito*/
  font-weight: bold;
  /*arredondamento dos cantos*/
  border-radius: 10px;
  /*margem do topo*/
  margin-top: 20px;
  /*Largura total*/
  width: 100%;
  /*Tamanho da fonte*/
  font-size: 16px;
  /*Ponteiro pelo click*/
  cursor: pointer;
}