<!-- Extendendo as partes repetidas para o layout.njk -->
{% extends "layout.njk" %}

<!-- Conteúdo do bloco head irá substituir o head no layout.njk -->
{% block head %}
  <title>Estudantes - Private Lessons</title>
{% endblock %}

<!-- Conteúdo do bloco content irá substituir o conteúdo no layout.njk -->
{% block content %}
  <div class="card table-container ">

    <div class="header">
      <a href="/students/create">Novo</a>
      <form action="/students" method="GET">
        <input 
          type="text"
          name="filter"
          placeholder="Nome ou Professor"
        >
        <button type="submit">Filtrar</button>

      </form>
    </div>

    <table width="100%">
      <thead>
        <tr>
          <th>Estudante</th>
          <th>E-mail</th>
          <th>Ano Escolar</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        {% for student in students %}
          <tr>

            <td>
              <span style="background-image: url({{ student.avatar_url }})"></span>
              {{ student.name }}
            </td>

            <td>
              <span>{{ student.email }}</span>
            </td>

            <td>
              <span>{{ student.school }}</span>
            </td>

            <td>
              <a href="/students/{{ student.id }}">Ver</a>
            </td>

          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div 
      class="pagination"
      data-page={{pagination.page}}
      data-total={{pagination.total}}
      data-filter={{filter}}
    ></div>

  </div>
{% endblock %}